@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
.hk{
    height: 70px;
width: 100vw;
  top: 0;
  padding: 0;
  margin: 0;
  
    position: fixed;
    display: flex;
}
#logoi{
    height: 100%;
    width: 10%;
   
}
#logoi img{
    height: 100%;
    width: 100%;
}

nav{
    background-color: rgb(204, 15, 188);
    height: 52%;
    width: 72%;
    margin: auto;
    border-radius: 30px;
    padding-bottom: 2px;
    
}
ul{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    margin: 1% auto ;
}
li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: medium;

    
    
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    
    color: black;
    
}