@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: rgba(226, 11, 129, 0.836);
    margin: 0;
    padding: 0;
   
}
#maincont{
    height: 80vh;
    width: 90%;
    
    margin: 4% auto;
    display: flex;
    background-color: rgba(255, 254, 254, 0.863);
   border-top-right-radius: 40px;
   border-bottom-right-radius: 40px;
    
}
#mod1{
    width: 50%;
    height:100%;
    background-color: rgba(21, 111, 156, 0.418);
    border-top-right-radius:  40px ;
    border-bottom-right-radius: 40px;
    display: flex;

}
#mod2{
    width: 50%;
    height: 100%;
  
   
}
#lmg{
    width: 30%;
    height: 25%;
   
}
#pns{
    height: 90%;
    width: 70%;
}
#formod{
    width: 70%;
    height: 72%;
   
    border: 2px solid rgba(0, 0, 0, 0.336);
    border-radius: 15px;
  
    margin: 10% auto ;

  
}
#hdk h1{
    text-align: center;
    margin: auto;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  margin-top: 8px;
  color: red;
}
#ds{
   
    width: 70%;
    margin: auto;
   

}
form{
    
  display: block;

    width: 96%;
    margin: auto;
}
input[type="text"],
input[type="email"],
input[type="password"] ,input[type="number"]{
    width: 100%; 
    height: 10%;
   padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
  margin:auto;
    box-sizing: border-box; 
    border-radius: 8px;
}
input[type="submit"]{
    background-color: rgba(11, 150, 231, 0.699);
    color: whitesmoke;
    border: none;
    width: 80px;
    margin: auto;
    margin-left: 30%;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 14px;
}
input[type="submit"]:hover{
    background-color: rgba(11, 150, 231, 0.836);
    cursor: pointer;
}
.lk{
    
    color: black;
    text-decoration: none;
    font-size: small;
    margin-top: 2px;
}
#ls{
    background-color: rgba(11, 150, 231, 0.699);
    color: whitesmoke;
    border: none;
    width: 100%;
    
    
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}
::placeholder{
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
input[type="radio"]{
    margin: 10px 5px; 
    transform: scale(1.2); 
    accent-color: rgba(11, 150, 231, 0.699);
    cursor: pointer;
}
label{
    font-size: small;
    display: inline;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}