<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update PassWord</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
    <link rel="icon" type="text/image" th:href="@{/ml.png}">
</head>
<body>
  <div id="maincont">
    <div id="mod1">
        <img src="/log.png" id="lmg">
       
                
        <img src="/dc.png" id="pns">
        
    </div>
    <div id="mod2">
        <div id="formod">
            <div id="hdk">
                <h1>Forget Password</h1>
            </div>
           <div id="ds">
            <form action="/fgps" method="post">
                

                <input type="email"  name="email" id="email" placeholder="Enter Your Email" required>
                <br>
               <select name="role">
                <option disabled selected>--select option--</option>
                <option value="id">Id</option>
                <option value="previouspassword">PreviousPassword</option>

               </select>
               <br>
               <input type="password" name="gender" id="password" placeholder="Enter Id or Previous Password " required>
               <br>

                <input type="password" name="password" id="password" placeholder="Enter Your  new Password" required>
                <br>
               
              
                
                <input type="submit" value="submit">
               
              
             </form>
           
           </div>
        </div>
     
    </div>
  </div>
</body>
</html>
