<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
</head>
<body>
  <div id="maincont">
    <div id="mod1">
        <img src="/log.png" id="lmg">
       
                
        <img src="/dc.png" id="pns">
        
    </div>
    <div id="mod2">
        <div id="formod">
            <div id="hdk">
                <h1>LogIn</h1>
            </div>
           <div id="ds">
            <form action="/logsub" method="post">
                

                <input type="email"  name="email" id="email" placeholder="Enter Your Email" required>
                <br>
               
                <input type="password" name="password" id="password" placeholder="Enter Your Password" required>
                <br>
               
                <a class="lk" href="#">forget password?</a>
                
                <input type="submit" value="login">
                <a href="/regi" id="ls">Create Account</a>
              
             </form>
           
           </div>
        </div>
     
    </div>
  </div>
</body>
</html>
