<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
</head>
<body>
    <div class="logo">
        <img src="/logo.jpeg">
    </div>
    <div class="forml">
        <form action="/logsub" method="post">
            <label>E-mail</label>
            <input type="email"  name="email" id="email" placeholder="enter your email" required>
            <br>
            <label>Password-</label>
            <input type="password" name="password" id="password" placeholder="enter your password" required>
            <br>
            <input type="submit" value="login">
         </form>
        <a href="/regi">Click here to register</a>
    </div>
</body>
</html>
