<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/reg.css}">
</head>
<body>
  <div id="maincont">
    <div id="mod1">
        <img src="/log.png" id="lmg">
       
                
        <img src="/dc.png" id="pns">
        
    </div>
    <div id="mod2">
        <div id="formod">
            <div id="hdk">
                <h1>Create Account</h1>
            </div>
           <div id="ds">
            <form action="/regsub" method="post">
               
                <input type="text" id="name" name="name" placeholder="Enter your name" required>
                <br>
              
                <input type="number" id="age" name="age" placeholder="Enter your age" required>
                <br>
               
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                <br>
               
                <input type="number" id="contactno" name="contactno" placeholder="Enter your contact number" required>
                <br>
            
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <br>
               
                <label for="male">Male</label>
                <input type="radio" id="male" name="gender" value="male" required>
                <label for="female">Female</label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="transgender">Transgender</label>
                <input type="radio" id="transgender" name="gender" value="transgender">
                <br>
               
                <label for="admin">Admin</label>
                <input type="radio" id="admin" name="role" value="admin" required>
                <label for="patient">Patient</label>
                <input type="radio" id="patient" name="role" value="patient">
                <br>
                <input type="submit" name="submit">
            </form>
           </div>
        </div>
     
    </div>
  </div>
</body>
</html>
